@font-face {
    font-family: "Futura";
    src: url('Futura.ttc')
   }

html{
    scroll-behavior: smooth;
    background-color: rgb(31,45,55);
    font-family: 'Futura', sans-serif;
}

#onglet{
    background-color: rgba(255,255,255,0.2);
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
    height: 100%;
    text-align:  center;
    justify-content: center;
}

#onglet a {
    text-decoration: underline;
    color: lightsteelblue; ;
}

#onglet h1 {
    padding : 10px;
    background-color: rgba(51,81,100,0.8);
    margin : 10px;    margin-top: 20px;
    font-family: 'Futura', 'sans-serif';
    top:10px;
    text-align: center;
    color: white;
    font-size: 30px;
    border: solid 2px lightsteelblue;
    border-radius: 10px;
    text-transform:uppercase;
    font-weight: 800;
}
#onglet h1:hover {
    cursor: pointer;
}

#indication {
    background-color: rgba(51,81,100,0.8);
    color: lightsteelblue;
    font-size : 15px;
    margin: 10px;
    font-weight: 400;
    border: solid 2px lightsteelblue;
    border-radius: 10px;
    padding-bottom:3px
}

#infos {
    width: 80%;
    height: 60vh;
    z-index: 10;
    margin: auto;
    text-align:  center;
    display: none;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    border: solid 1px rgb(51,81,100);
    border-radius: 10px;
    color: rgb(51,81,100);

}


#map {
    z-index: 1;
    position: absolute; top: 0; bottom: 0; width: 100%; 
}


body { margin: 0; padding: 0; }

#projection {
    color: white;
    z-index: 100;
    background-color: rgba(51,81,100,0.8);
    position: absolute;
    top: 20px;
    right: 20px;
    border: solid 2px lightsteelblue;
    border-radius: 10px;
}

#projection h2 {
    font-size: 18px;
    text-decoration: underline;
}
.cadres {
    margin-bottom: 5px;
    display: flex;
    justify-content :center;
}


.bouton {
    padding-left: 5px; padding-right: 5px;
    margin: 2px;
    border: solid 2px lightsteelblue;
    border-radius: 5px;
    color: white;
}

.bouton:hover {
    cursor: pointer;
}

.choose {
    margin: 5px;
    text-align: center;
    font-weight: 300;
}

#infos h2 {
    color: slategray;
    text-transform: uppercase;
    margin :2px;
    font-size : 18px;
    font-weight: 400;
}

.soustitre {
    margin: 0; margin-bottom: 2vh;
}


#texte {
    height: 60vh;
    scrollbar-color: green ;
    overflow: auto;
}

#about {
    color: lightsteelblue;
    position: absolute;
    left :5vw;
    top: 100vh;
    z-index: 2000;
    max-width: 80%;
}

#about h2 {
    margin-left: 0;
    color: white;
    font-size : 18px;
    font-weight: lighter;
}


#about a{
    text-decoration: underline;
    color: white;
}
